@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(
    100deg,
    #fff0f6 0%,
    #e977ac 0%,
    #ffb300 45%,
    #d553aa 100%
  );
  width: 120px;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #d553aa;
}

.mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e977ac;
}

.mainheader a {
  color: #fff;
  text-decoration: none;
}

.mainheader h1 {
  margin: 0;
  font-size: 1.5em;
  color: #fff;
}

section {
  width: 100vw;
  padding: 1rem 5vw;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

header.design-one {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 8vw;
  background: #932795;

  & > img.company-logo {
    height: 80px;
    width: 100px;
  }

  & > .company-logo {
    font-weight: 900;
    cursor: pointer;
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;

    & > a.navigation-content {
      font-weight: 900;
      font-size: 1rem;
      color: black;
    }
  }

  & > .log {
    font-weight: 900;
    border: 1px white solid;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
}

.design-two {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  align-items: center;
  background: black;
  color: wheat;

  .logo a {
    font-size: 24px;
    font-weight: 500;
    color: wheat;
    text-decoration: none;
  }

  .navigation {
    display: flex;
    gap: 1rem;
    align-items: center;

    .navigation-content {
      color: rgb(244, 244, 244);
      font-weight: 800;
      font-size: 1.2rem;
      text-decoration: none;
    }

    .search-form {
      display: flex;
      align-items: center;
    }

    .search-input {
      padding: 0.5rem;
      border: 1px solid white;
      border-radius: 5px 0 0 5px;
      font-size: 1rem;
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      width: 200px;
    }

    .search-button {
      padding: 0.5rem;
      border: 1px solid white;
      border-radius: 0 5px 5px 0;
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }
}

.design-three {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: calc(100% - 1rem);
  justify-content: space-between;
  padding: 0.5rem 5vw;
  box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 1);
  border: 1px solid black;
  border-radius: 5px;
}
.logo {
  font-size: 2rem;
  font-weight: 300;
  color: #932795;
}

.design-three .navigation {
  display: flex;
  align-items: center;
}

.design-three .navigation .nav-button {
  font-weight: 900;
  font-size: 1.1rem;
}

.icons {
  font-size: 1.1rem;
  margin-left: 1rem;
  color: rgb(147, 39, 149);
  display: flex;
  gap: 0.2rem;
}

.design-four {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100vw;
  box-shadow: 0 4px 10px rgba(124, 124, 124, 0.534);
  padding: 10px 20px;
  border: 1px black solid;
  border-radius: 10px;

  & .company-logo {
    height: 120px;
    max-width: 150px;
    margin: 0 20px;
  }

  & .navigation {
    display: flex;
    gap: 2rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

.design-five {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d3e228;
  width: 100vw;
  padding: 20px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;

  .con a {
    gap: 15px;
    color: rgb(20, 13, 5);
    font-weight: 900;
  }
  .iconic {
    display: flex;
    gap: 2rem;
  }
  .iconic a {
    font-weight: 900;
    color: black;
    gap: 2rem;
  }

  .out a {
    font-weight: 900;
    color: black;
  }
}

.header-two {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.design-one-animation {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  height: calc(50px + 1rem);
  align-items: center;
  background: rgb(12, 12, 12);

  & > img.company-logo {
    height: 100px;
    padding: 0.2rem 0;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    height: 100%;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: rgb(247, 241, 241);
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      transition: 0.2s ease;

      &:hover {
        background-color: rgb(144, 196, 226);
        color: #534444;
        transform: translateY(-3px);
      }
      &:last-child {
        margin-right: 0; /* Remove right margin from last navigation item */
      }
    }
  }
}

header.design-two-animation {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  height: calc(50px + 1rem);
  align-items: center;
  background: rgb(174, 255, 202);
  color: rgb(11, 11, 27);

  & > img.company-logo {
    height: 100px;
    padding: 0.2rem 0;
    transition: all 0.3s ease;

    &:hover {
      transform: rotateZ(720deg);
    }
  }

  .navigation {
    display: flex;
    gap: 1rem;
    align-items: center;

    & > a.navigation-content {
      color: rgb(35, 92, 139);
      font-weight: 800;
      font-size: 1.2rem;
      text-decoration: none;

      &:hover {
        background: rgb(222, 160, 182);
        transform: translate(-5px, -5px);
        box-shadow: 10px 10px 0px 0px rgb(35, 105, 99);
        border: 1px transparent solid;
      }

      &:active {
        background: rgb(222, 160, 182);
        transform: translate(0px, 0px);
        box-shadow: 0px 0px 0px 0px rgb(35, 105, 99);
        border: 1px transparent solid;
      }
    }

    .search-form {
      display: flex;
      align-items: center;
    }

    .search-input {
      padding: 0.5rem;
      border: 5px solid rgb(23, 22, 22);
      border-radius: 5px 0 0 5px;
      font-size: 1rem;
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 0.3s ease;
      width: 200px;
    }

    .search-button:hover {
      padding: 0.5rem;
      border: 2px solid black;
      border-radius: 0 5px 5px 0;
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
}

.design-three-animation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100vw;
  box-shadow: 0 4px 10px rgba(124, 124, 124, 0.534);
  padding: 10px 20px;
  border-bottom: 1px black solid;
  border-radius: 10px;
  background: linear-gradient(
    100deg,
    #fff0f6 0%,
    #e977ac 0%,
    rgb(205, 113, 123) 45%,
    #d553aa 100%
  );

  &:hover .company-logo:not(:hover),
  &:hover .navigation-content:not(:hover) {
    transform: scale(0.85);
  }

  &:hover .navigation-content:not(:hover) {
    opacity: 0.7;
  }

  & .company-logo {
    height: 100px;
    transition: 0.2s ease;

    &:hover {
      filter: drop-shadow(5px 5px 5px rgb(13, 165, 7));
    }
  }

  & .navigation {
    display: flex;
    gap: 1rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Poppins";
    transition: 0.3s ease;
    border-bottom: 3px solid black;

    &::before {
      background: #0aad4b83;
      width: 0;
      height: 20px;
      content: "";
      display: block;
      position: relative;
      top: 20px;
      right: 5px;
      transition: 0.2s ease;
      z-index: -1;
    }

    &:hover {
      &.work {
        border-bottom: 2px solid #000000;
        &::before {
          width: 60px;
          background: #85daa2;
        }
      }

      &.service {
        border-bottom: 2px solid rgb(0, 0, 0);
        &::before {
          width: 80px;
          background: #85daa2;
        }
      }

      &.about {
        border-bottom: 2px solid rgb(0, 0, 0);
        &::before {
          width: 60px;
          background: #85daa2;
        }
      }

      &.blog {
        border-bottom: 2px solid rgb(0, 0, 0);
        &::before {
          width: 60px;
          background: #85daa2;
        }
      }
    }
  }
}
.design-four-animation {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  height: calc(50px + 1rem);
  background: rgb(71, 127, 201);
  color: rgb(11, 11, 27);

  &:hover {
    & .navigation-content:not(:hover) {
      transform: scale(0.5);
    }
  }

  & .company-logo {
    height: 70px;
    transition: all ease 0.1s;

    &:hover {
      transform-style: preserve-3d;
    }

    &:active {
      filter: drop-shadow(0 0 10px rgb(108, 59, 231));
    }
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Lucida Sans";
    transition: all 0.2s ease;
  }
  & > .call-to-action {
    border: 3px white solid;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: #000000;
    color: #fff0f6;
  }
}
.design-five-animation {
  width: 100vw;
  padding: 0rem 5rem;
  height: calc(100px + 1rem);
  background: rgb(85, 75, 58);
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}
.nav-button .title {
  color: #fff0f6;
  font-size: 50px;
}
span {
  color: #3d1111;
}
.nav-button p {
  position: absolute;
  margin-top: 80px;
  margin-left: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}
.menu li {
  list-style: none;
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: #fff0f6;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
  transition: 0.4s ease;
}

.menu li a:hover {
  color: #3d1111;
  padding: 10px 30px;
  border: 1px solid white;
}
